{% extends 'base.html' %}
{% block title %} Madlibs {% endblock %}

{% block content %}

<img src="{{ picture }}" alt="City View" style="width:304px;height:228px;"><br><br>

<div>There once was a <span>{{ color }}</span> <span>{{ noun }}</span> sitting in the Hackbright Lab in <span>{{ city }}</span>.
When <span>{{ person }}</span> went to pick it up, it burst into flames in a totally
<span>{{ adjective }}</span> way. <span>{{ person }}</span> was so hungry from all the excitement that they ate <span>{{ food_list }}</span>.</div>

{% if {{ cookies }} %}
<img src="{{ cookies }}">
{% endif %}

{% if {{ chocolate }} %}
<img src="{{ chocolate }}">
{% endif %}

{% if {{ ice_cream }} %}
<img src="{{ ice_cream }}">
{% endif %}


{% endblock %}